<div class="px-16 content">
  <div>
    <h3 class="h3">Datos Generales:</h3>
    <div>
      <form name="generalData" [formGroup]="generalData">
        <div class="general-data-grid">
          <div class="grid-field">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>DRE</mat-label>
              <input matInput formControlName="dre" required>
              <mat-error>Campo requerido.</mat-error>
            </mat-form-field>
          </div>
          <div class="grid-field">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>UGEL</mat-label>
              <input matInput formControlName="ugel" required>
              <mat-error>Campo requerido.</mat-error>
            </mat-form-field>
          </div>
          <div class="grid-field">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Código de Local</mat-label>
              <input matInput formControlName="codigoLocal" required>
              <mat-error>Campo requerido.</mat-error>
            </mat-form-field>
          </div>
          <div class="grid-field">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Director</mat-label>
              <input matInput formControlName="director" required>
              <mat-error>Campo requerido.</mat-error>
            </mat-form-field>
          </div>
          <div class="grid-field">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Gestión</mat-label>
              <input matInput formControlName="gestion" required>
              <mat-error>Campo requerido.</mat-error>
            </mat-form-field>
          </div>
          <div class="grid-field">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Gestión - Dependencia</mat-label>
              <input matInput formControlName="dependencia" required>
              <mat-error>Campo requerido.</mat-error>
            </mat-form-field>
          </div>
          <div class="grid-field">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Área</mat-label>
              <input matInput formControlName="area" required>
              <mat-error>Campo requerido.</mat-error>
            </mat-form-field>
          </div>
          <div class="grid-field">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Alumnado</mat-label>
              <input matInput formControlName="alumnado" required>
              <mat-error>Campo requerido.</mat-error>
            </mat-form-field>
          </div>
          <div class="grid-field">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Modalidad</mat-label>
              <input matInput formControlName="modalidad" required>
              <mat-error>Campo requerido.</mat-error>
            </mat-form-field>
          </div>
          <div class="grid-field">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>IE integrada</mat-label>
              <input matInput formControlName="ieIntegrada" required>
              <mat-error>Campo requerido.</mat-error>
            </mat-form-field>
          </div>
          <div class="grid-field">
            <div class="grid-checkbox">
              <label>Servicios Educativos:</label>
              <div>
                <mat-checkbox checked="true">
                  <mat-label>Inicial</mat-label>
                </mat-checkbox>
                <mat-checkbox checked="true">
                  <mat-label>Primaria</mat-label>
                </mat-checkbox>
                <mat-checkbox>
                  <mat-label>Secundaria</mat-label>
                </mat-checkbox>
              </div>
            </div>
          </div>
          <div class="grid-field">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Código Modular</mat-label>
              <input matInput formControlName="codigoModular" required>
              <mat-error>Campo requerido.</mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div>
    <h3 class="h3">Datos de Contacto:</h3>
    <div>
      <form name="contactData" [formGroup]="generalData">
        <div class="general-data-grid">
          <div class="grid-field">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Ubicación</mat-label>
              <input matInput formControlName="ubicacion" required>
              <mat-error>Campo requerido.</mat-error>
            </mat-form-field>
          </div>
          <div class="grid-field">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Dirección</mat-label>
              <input matInput formControlName="direccion" required>
              <mat-error>Campo requerido.</mat-error>
            </mat-form-field>
          </div>
          <div class="grid-field">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Teléfono</mat-label>
              <input matInput formControlName="telefono" required>
              <mat-error>Campo requerido.</mat-error>
            </mat-form-field>
          </div>
          <div class="grid-field">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Correo</mat-label>
              <input matInput formControlName="correo" required>
              <mat-error>Campo requerido.</mat-error>
            </mat-form-field>
          </div>
          <div class="grid-field">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Página Web</mat-label>
              <input matInput formControlName="web" required>
              <mat-error>Campo requerido.</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div>
          <h4 class="mb-24">Redes Sociales:</h4>
          <div class="general-data-grid">
            <div class="grid-field">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Facebook</mat-label>
                <input matInput formControlName="facebook" required>
                <mat-error>Campo requerido.</mat-error>
              </mat-form-field>
            </div>
            <div class="grid-field">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Youtube</mat-label>
                <input matInput formControlName="youtube" required>
                <mat-error>Campo requerido.</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>