.general-data-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  .grid-field {
    padding: 0 1rem;

    .grid-checkbox {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      div {
        display: grid;
        grid-template-rows: auto;
      }
    }
  }

}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .general-data-grid {
    grid-template-columns: 1fr;
  }
}



