<h2 mat-dialog-title>Mensaje</h2>
<mat-dialog-content class="mat-typography">
  <h3>¿Está seguro de que desea confirmar los cambios en {{data.level}}?</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirmar</button>
</mat-dialog-actions>
