<div class="navbar-top" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <!-- <img class="logo-icon" src="assets/images/logos/fuse.svg"> -->
        <span class="logo-text secondary-text">MATRICULA DIGITAL</span>
    </div>

        <!-- Toggler extraído de buttons para que no se oculte -->
        <button mat-icon-button class="toggle-sidebar-folded"
                (click)="toggleSidebarFolded()" fxHide.lt-lg>
            <mat-icon class="secondary-text">menu</mat-icon>
        </button>

    <div class="buttons">

        <button mat-icon-button class="toggle-sidebar-opened"
                (click)="toggleSidebarOpened()" fxHide.gt-md>
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>

    </div>

</div>


<div class="navbar-scroll-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground"
     fusePerfectScrollbar [fusePerfectScrollbarOptions]="{suppressScrollX: true}">

    <div class="user" fxLayout="column" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">

        <div class="h3 username">Álvarez Gonzales, Jorge</div>
        <div class="h5 session-text hint-text mt-8">DNI: 45128795</div>
        <div class="h5 session-text hint-text mt-8">Director</div>
        <div class="h5 session-text hint-text mt-8">IE 344 Nilda Rejas de Chambilla</div>
        <div class="h5 session-text hint-text mt-8">Código Modular: 4587125</div>
        <div class="h5 session-text hint-text my-16">
            <button mat-stroked-button color="accent" type="button">
                Cerrar Sesión
            </button>
        </div>
        <!-- <div class="avatar-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground">
            <img class="avatar" src="assets/images/avatars/Velazquez.jpg">
        </div> -->

    </div>

    <div class="navbar-content">
        <fuse-navigation class="material2" layout="vertical"></fuse-navigation>
    </div>

</div>
