<!-- <div class="alert mt-8">
  Es importante que verifique el numero de secciones para la matrícula 2021.
</div> -->

<div class="mt-8 p-16">
  <div>
    <h3 class="mat-body-2">Niveles y estudiantes {{ lastYear }}:</h3>
    <p class="mb-32">Información estadistica del proceso del año anterior. Tomese solo como referencia para el presente proceso de matricula escolar.</p>
    <div class="px-16">
      <h3 class="mat-body-2">Turno Mañana</h3>
      <table mat-table [dataSource]="dataSource.morningData" class="mat-elevation-z2 w-100-p">
        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef class="accent"> Nivel </th>
          <td mat-cell *matCellDef="let element"> {{element.level}} </td>
        </ng-container>

        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef class="accent"> Grado / Edad </th>
          <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>
      
        <ng-container matColumnDef="students">
          <th mat-header-cell *matHeaderCellDef class="accent"> Total de estudiantes </th>
          <td mat-cell *matCellDef="let element"> {{element.students}} </td>
        </ng-container>
      
        <ng-container matColumnDef="sections">
          <th mat-header-cell *matHeaderCellDef class="accent"> Número de secciones </th>
          <td mat-cell *matCellDef="let element"> {{element.sections}} </td>
        </ng-container>
      
        <ng-container matColumnDef="average">
          <th mat-header-cell *matHeaderCellDef class="accent"> Promedio de estudiantes por sección </th>
          <td mat-cell *matCellDef="let element"> {{element.average}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr (click)="editarDatos(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <h3 class="mat-body-2">Turno Tarde</h3>
      <table mat-table [dataSource]="dataSource.afternoonData" class="mat-elevation-z2 w-100-p">
        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef class="accent"> Nivel </th>
          <td mat-cell *matCellDef="let element"> {{element.level}} </td>
        </ng-container>

        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef class="accent"> Grado / Edad </th>
          <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>

        <ng-container matColumnDef="students">
          <th mat-header-cell *matHeaderCellDef class="accent"> Total de estudiantes </th>
          <td mat-cell *matCellDef="let element"> {{element.students}} </td>
        </ng-container>

        <ng-container matColumnDef="sections">
          <th mat-header-cell *matHeaderCellDef class="accent"> Número de secciones </th>
          <td mat-cell *matCellDef="let element"> {{element.sections}} </td>
        </ng-container>

        <ng-container matColumnDef="average">
          <th mat-header-cell *matHeaderCellDef class="accent"> Promedio de estudiantes </th>
          <td mat-cell *matCellDef="let element"> {{element.average}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr (click)="editarDatos(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  
  <div>
    <h3 class="my-32">Servicios:</h3>
    <div class="px-16 text-sm">
      <mat-tab-group dynamicHeight color="accent" backgroundColor="accent">
        <mat-tab label="Deportes">
          <div class="m-16 p-16">
            <form fxLayout="column"
                  fxLayoutAlign="between"
                  fxFlex="1 0 auto"
                  name="servicesData"
                  [formGroup]="servicesData">
              <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline">
                  <mat-label>Describa el servicio</mat-label>
                  <textarea matInput
                            cdkTextareaAutosize
                            cdkAutosizeMinRows="3" 
                            formControlName="deportesDesc"></textarea>
                  <mat-error *ngIf="servicesData.controls['deportesDesc'].hasError('maxlength')">Máximo 250 caracteres incluyendo espacios.</mat-error>
                  <mat-error *ngIf="servicesData.controls['deportesDesc'].hasError('required')">Campo requerido.</mat-error>
                </mat-form-field>

                <div class="dropzone" appDnd>
                  <input type="file" #deportesRef id="deportesRef" multiple (change)="fileBrowseHandler($event.target.files)">
                  <mat-icon class="s-32">cloud_upload</mat-icon>
                  <h4>Adjuntar Fotos</h4>
                  <h6>Máximo 5 fotos de 500kB cada una</h6>
                  <h4>ó</h4>
                  <label class="accent" for="deportesRef">Buscar foto</label>
                </div>

                <div class="flex-thumbnails">
                  <div class="thumbnail mat-elevation-z2">
                    <img src="assets/images/cards/card1.jpg">
                    <div class="delete-zone">
                      <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                    </div>
                  </div>
                  <div class="thumbnail mat-elevation-z2">
                    <img src="assets/images/cards/card1.jpg">
                    <div class="delete-zone">
                      <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                    </div>
                  </div>
                  <div class="thumbnail mat-elevation-z2">
                    <img src="assets/images/cards/card1.jpg">
                    <div class="delete-zone">
                      <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                    </div>
                  </div>
                  <div class="thumbnail mat-elevation-z2">
                    <img src="assets/images/cards/card1.jpg">
                    <div class="delete-zone">
                      <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                    </div>
                  </div>
                  <div class="thumbnail mat-elevation-z2">
                    <img src="assets/images/cards/card1.jpg">
                    <div class="delete-zone">
                      <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </mat-tab>
        <mat-tab label="Idiomas">
          <div class="m-16 p-16">
            <form fxLayout="column"
                  fxLayoutAlign="between"
                  fxFlex="1 0 auto"
                  name="servicesData"
                  [formGroup]="servicesData">
              <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline">
                  <mat-label>Describa el servicio</mat-label>
                  <textarea matInput
                            cdkTextareaAutosize
                            cdkAutosizeMinRows="3" 
                            formControlName="idiomasDesc"></textarea>
                  <mat-error *ngIf="servicesData.controls['idiomasDesc'].hasError('maxlength')">Máximo 250 caracteres incluyendo espacios.</mat-error>
                  <mat-error *ngIf="servicesData.controls['idiomasDesc'].hasError('required')">Campo requerido.</mat-error>
                </mat-form-field>

                <div class="dropzone" appDnd>
                  <input type="file" #idiomasRef id="idiomasRef" multiple (change)="fileBrowseHandler($event.target.files)">
                  <mat-icon class="s-32">cloud_upload</mat-icon>
                  <h4>Adjuntar Fotos</h4>
                  <h6>Máximo 5 fotos de 500kB cada una</h6>
                  <h4>ó</h4>
                  <label class="accent" for="idiomasRef">Buscar foto</label>
                </div>

                <div class="flex-thumbnails">
                  <div class="thumbnail mat-elevation-z2">
                    <img src="assets/images/cards/card1.jpg">
                    <div class="delete-zone">
                      <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                    </div>
                  </div>
                  <div class="thumbnail mat-elevation-z2">
                    <img src="assets/images/cards/card1.jpg">
                    <div class="delete-zone">
                      <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                    </div>
                  </div>
                  <div class="thumbnail mat-elevation-z2">
                    <img src="assets/images/cards/card1.jpg">
                    <div class="delete-zone">
                      <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                    </div>
                  </div>
                  <div class="thumbnail mat-elevation-z2">
                    <img src="assets/images/cards/card1.jpg">
                    <div class="delete-zone">
                      <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                    </div>
                  </div>
                  <div class="thumbnail mat-elevation-z2">
                    <img src="assets/images/cards/card1.jpg">
                    <div class="delete-zone">
                      <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </mat-tab>
        <mat-tab label="Talleres">
          <div class="m-16 p-16">
            <form fxLayout="column"
                  fxLayoutAlign="between"
                  fxFlex="1 0 auto"
                  name="servicesData"
                  [formGroup]="servicesData">
              <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline">
                  <mat-label>Describa el servicio</mat-label>
                  <textarea matInput
                            cdkTextareaAutosize
                            cdkAutosizeMinRows="3" 
                            formControlName="talleresDesc"></textarea>
                  <mat-error *ngIf="servicesData.controls['talleresDesc'].hasError('maxlength')">Máximo 250 caracteres incluyendo espacios.</mat-error>
                  <mat-error *ngIf="servicesData.controls['talleresDesc'].hasError('required')">Campo requerido.</mat-error>
                </mat-form-field>

                <div class="dropzone" appDnd>
                  <input type="file" #telleresDesc id="telleresDesc" multiple (change)="fileBrowseHandler($event.target.files)">
                  <mat-icon class="s-32">cloud_upload</mat-icon>
                  <h4>Adjuntar Fotos</h4>
                  <h6>Máximo 5 fotos de 500kB cada una</h6>
                  <h4>ó</h4>
                  <label class="accent" for="telleresDesc">Buscar foto</label>
                </div>

                <div class="flex-thumbnails">
                  <div class="thumbnail mat-elevation-z2">
                    <img src="assets/images/cards/card1.jpg">
                    <div class="delete-zone">
                      <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                    </div>
                  </div>
                  <div class="thumbnail mat-elevation-z2">
                    <img src="assets/images/cards/card1.jpg">
                    <div class="delete-zone">
                      <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                    </div>
                  </div>
                  <div class="thumbnail mat-elevation-z2">
                    <img src="assets/images/cards/card1.jpg">
                    <div class="delete-zone">
                      <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                    </div>
                  </div>
                  <div class="thumbnail mat-elevation-z2">
                    <img src="assets/images/cards/card1.jpg">
                    <div class="delete-zone">
                      <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                    </div>
                  </div>
                  <div class="thumbnail mat-elevation-z2">
                    <img src="assets/images/cards/card1.jpg">
                    <div class="delete-zone">
                      <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </mat-tab>
        <mat-tab label="Otros">
          <div class="m-16 p-16">
            <form fxLayout="column"
                  fxLayoutAlign="between"
                  fxFlex="1 0 auto"
                  name="servicesData"
                  [formGroup]="servicesData">
              <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline">
                  <mat-label>Describa el servicio</mat-label>
                  <textarea matInput
                            cdkTextareaAutosize
                            cdkAutosizeMinRows="3" 
                            formControlName="otrosDesc"></textarea>
                  <mat-error *ngIf="servicesData.controls['otrosDesc'].hasError('maxlength')">Máximo 250 caracteres incluyendo espacios.</mat-error>
                  <mat-error *ngIf="servicesData.controls['otrosDesc'].hasError('required')">Campo requerido.</mat-error>
                </mat-form-field>

                <div class="dropzone" appDnd>
                  <input type="file" #otrosDesc id="otrosDesc" multiple (change)="fileBrowseHandler($event.target.files)">
                  <mat-icon class="s-32">cloud_upload</mat-icon>
                  <h4>Adjuntar Fotos</h4>
                  <h6>Máximo 5 fotos de 500kB cada una</h6>
                  <h4>ó</h4>
                  <label class="accent" for="otrosDesc">Buscar foto</label>
                </div>

                <div class="flex-thumbnails">
                  <div class="thumbnail mat-elevation-z2">
                    <img src="assets/images/cards/card1.jpg">
                    <div class="delete-zone">
                      <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                    </div>
                  </div>
                  <div class="thumbnail mat-elevation-z2">
                    <img src="assets/images/cards/card1.jpg">
                    <div class="delete-zone">
                      <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                    </div>
                  </div>
                  <div class="thumbnail mat-elevation-z2">
                    <img src="assets/images/cards/card1.jpg">
                    <div class="delete-zone">
                      <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                    </div>
                  </div>
                  <div class="thumbnail mat-elevation-z2">
                    <img src="assets/images/cards/card1.jpg">
                    <div class="delete-zone">
                      <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                    </div>
                  </div>
                  <div class="thumbnail mat-elevation-z2">
                    <img src="assets/images/cards/card1.jpg">
                    <div class="delete-zone">
                      <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>