<h2 mat-dialog-title>Editar datos</h2>
<mat-dialog-content class="mat-typography">
  <form fxLayout="column"
        fxLayoutAlign="between"
        fxFlex="1 0 auto"
        name="levelData"
        [formGroup]="levelData">
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Nivel</mat-label>
      <input matInput formControlName="level">
      <mat-error>Campo requerido.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Grado / Edad</mat-label>
      <input matInput formControlName="age">
      <mat-error>Campo requerido.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Total de estudiantes</mat-label>
      <input matInput formControlName="students">
      <mat-error>Campo requerido.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Número de secciones</mat-label>
      <input matInput formControlName="numberOfSections">
      <mat-error>Campo requerido.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Promedio de estudiantes por sección</mat-label>
      <input matInput formControlName="average">
      <mat-error>Campo requerido.</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirmar</button>
</mat-dialog-actions>
