<div>
  <form fxLayout="column"
        fxLayoutAlign="between"
        fxFlex="1 0 auto"
        name="apafaData"
        [formGroup]="apafaData">
    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center" fxFlex="1 0 auto">
      <mat-form-field appearance="outline">
        <mat-label>¿Qué es la APAFA? - Máximo 250 caracteres incluyendo espacios.</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="3" 
                  formControlName="queEsApafa"></textarea>
        <mat-error *ngIf="apafaData.controls['queEsApafa'].hasError('maxlength')">Máximo 250 caracteres incluyendo espacios.</mat-error>
        <mat-error *ngIf="apafaData.controls['queEsApafa'].hasError('required')">Campo requerido.</mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>¿Porqué es importante? - Máximo 250 caracteres incluyendo espacios.</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="3" 
                  formControlName="importancia"></textarea>
        <mat-error *ngIf="apafaData.controls['importancia'].hasError('maxlength')">Máximo 250 caracteres incluyendo espacios.</mat-error>
        <mat-error *ngIf="apafaData.controls['importancia'].hasError('required')">Campo requerido.</mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>¿Para qué se usa? - Máximo 400 caracteres incluyendo espacios.</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="5" 
                  formControlName="uso"></textarea>
        <mat-error *ngIf="apafaData.controls['uso'].hasError('maxlength')">Máximo 400 caracteres incluyendo espacios.</mat-error>
        <mat-error *ngIf="apafaData.controls['uso'].hasError('required')">Campo requerido.</mat-error>
      </mat-form-field>

      <div class="dropzone" appDnd>
        <input type="file" #apafaRef id="apafaRef" multiple (change)="fileBrowseHandler($event.target.files)">
        <mat-icon class="s-32">cloud_upload</mat-icon>
        <h4>Adjuntar Fotos (opcional)</h4>
        <h6>Máximo 5 fotos de hasta 1MB cada una</h6>
        <h4>ó</h4>
        <label class="accent" for="apafaRef">Buscar foto</label>
      </div>

      <div class="flex-thumbnails">
        <div class="thumbnail mat-elevation-z2">
          <img src="assets/images/cards/card1.jpg">
          <div class="delete-zone">
            <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
          </div>
        </div>
        <div class="thumbnail mat-elevation-z2">
          <img src="assets/images/cards/card1.jpg">
          <div class="delete-zone">
            <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
          </div>
        </div>
        <div class="thumbnail mat-elevation-z2">
          <img src="assets/images/cards/card1.jpg">
          <div class="delete-zone">
            <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
          </div>
        </div>
        <div class="thumbnail mat-elevation-z2">
          <img src="assets/images/cards/card1.jpg">
          <div class="delete-zone">
            <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
          </div>
        </div>
        <div class="thumbnail mat-elevation-z2">
          <img src="assets/images/cards/card1.jpg">
          <div class="delete-zone">
            <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
          </div>
        </div>
      </div>

      <mat-form-field class="w-256 mt-24" appearance="outline">
        <mat-label>Cuota Anual de la APAFA</mat-label>
        <input matInput formControlName="cuota" type="number" required placeholder="S/. 000.00">
        <mat-error>Campo requerido.</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
