<div class="px-16 content">
  <form fxLayout="column"
        fxLayoutAlign="between"
        fxFlex="1 0 auto"
        name="identityData"
        [formGroup]="identityData">
    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center" fxFlex="1 0 auto">
      <mat-form-field appearance="outline">
        <mat-label>Misión - Máximo 250 caracteres incluyendo espacios.</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="3" 
                  formControlName="mision"></textarea>
        <mat-error *ngIf="identityData.controls['mision'].hasError('maxlength')">Máximo 250 caracteres incluyendo espacios.</mat-error>
        <mat-error *ngIf="identityData.controls['mision'].hasError('required')">Campo requerido.</mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Visión - Máximo 250 caracteres incluyendo espacios.</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="3" 
                  formControlName="vision"></textarea>
        <mat-error *ngIf="identityData.controls['vision'].hasError('maxlength')">Máximo 250 caracteres incluyendo espacios.</mat-error>
        <mat-error *ngIf="identityData.controls['vision'].hasError('required')">Campo requerido.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Valores - Máximo 250 caracteres incluyendo espacios.</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="3" 
                  formControlName="valores"></textarea>
        <mat-error *ngIf="identityData.controls['valores'].hasError('maxlength')">Máximo 250 caracteres incluyendo espacios.</mat-error>
        <mat-error *ngIf="identityData.controls['valores'].hasError('required')">Campo requerido.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Propuesta Pedagógica - Máximo 400 caracteres incluyendo espacios.</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="4" 
                  formControlName="propuestaPedagogica"></textarea>
        <mat-error *ngIf="identityData.controls['propuestaPedagogica'].hasError('maxlength')">Máximo 400 caracteres incluyendo espacios.</mat-error>
        <mat-error *ngIf="identityData.controls['propuestaPedagogica'].hasError('required')">Campo requerido.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Propuesta de Gestión - Máximo 400 caracteres incluyendo espacios.</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="4" 
                  formControlName="propuestaDeGestion"></textarea>
        <mat-error *ngIf="identityData.controls['propuestaDeGestion'].hasError('maxlength')">Máximo 400 caracteres incluyendo espacios.</mat-error>
        <mat-error *ngIf="identityData.controls['propuestaDeGestion'].hasError('required')">Campo requerido.</mat-error>
      </mat-form-field>

    </div>
    <div class="grid-dropzones-2">
      <div class="dropzone" appDnd>
        <input type="file" #planInstitucionalRef id="planInstitucionalRef" multiple (change)="fileBrowseHandler($event.target.files)">
        <mat-icon class="s-32">cloud_upload</mat-icon>
        <h4>Adjuntar Plan Institucional</h4>
        <h6>Máximo 3.0 MB</h6>
        <h4>ó</h4>
        <label class="accent" for="planInstitucionalRef">Buscar foto</label>
      </div>
      <div class="dropzone" appDnd>
        <input type="file" #reglamentoInternoRef id="reglamentoInternoRef" multiple (change)="fileBrowseHandler($event.target.files)">
        <mat-icon class="s-32">cloud_upload</mat-icon>
        <h4>Adjuntar Reglamento Interno</h4>
        <h6>Máximo 3.0 MB</h6>
        <h4>ó</h4>
        <label class="accent" for="reglamentoInternoRef">Buscar foto</label>
      </div>
    </div>
  </form>
  
</div>

