<div class="alert mt-4">
    Recuerde que debe tramitar una solicitud por el cambio de numero de vacantes ante la UGEL.
</div>

<div class="mt-4 p-8 bg-gray-200">
    <div class="px-4 text-sm">
        <div class="grid grid-cols-12 col-gap-4">
            <label class="col-span-6 grid grid-cols-6 mb-4">
                <span class="col-span-3">I.E. Integrada:</span>
                <p class="col-span-3">Sí</p>
            </label>
            <label class="col-span-6 grid grid-cols-6 mb-4" for="nivel">
                <span class="col-span-3">Nivel:</span>
                <select class="col-span-3" name="nivel" id="nivel">
                    <option value="Primaria">Primaria</option>
                    <option value="Secundaria">Secundaria</option>
                </select>
            </label>
            <label class="col-span-6 grid grid-cols-6 mb-4" for="turno">
                <span class="col-span-3">Turno:</span>
                <select class="col-span-3" name="turno" id="turno">
                    <option value="mañana">Mañana</option>
                    <option value="tarde">Tarde</option>
                    <option value="noche">Noche</option>
                </select>
            </label>
            <label class="col-span-6 grid grid-cols-6 mb-4" for="grado-edad">
                <span class="col-span-3">Grado / Edad:</span>
                <select class="col-span-3" name="grado-edad" id="grado-edad">
                    <option value="3">03 años</option>
                    <option value="4">04 años</option>
                    <option value="5">05 años</option>
                </select>
            </label>
            <label class="col-span-6 grid grid-cols-6 mb-4" for="grado-edad">
                <span class="col-span-3">Estado de la solicitud:</span>
                <select class="col-span-3" name="grado-edad" id="grado-edad">
                    <option value="pendiente">Pendiente</option>
                    <option value="aceptada">Aceptada</option>
                </select>
            </label>
        </div>
        <div class="flex justify-center mt-4">
            <button class="btn">Buscar</button>
        </div>
    </div>
</div>

<div class="mt-4 p-8 bg-gray-200 flex justify-center">
    <table class="text-sm">
        <!-- <thead>
            <th colspan="4" class="bg-gray-300 border-0"></th>
            <th colspan="2">Vacantes Calculadas</th>
            <th colspan="2">Vacantes con solicitud de cambio</th>
            <th colspan="2">Vacantes Confirmadas</th>
            <th colspan="1" class="bg-gray-300 border-0"></th>
        </thead> -->
        <thead>
            <th>Nivel</th>
            <th>Turno</th>
            <th>Grado</th>
            <th>Nro. Secciones</th>
            <th>NNA</th>
            <th>NEE</th>
            <th>NNA</th>
            <th>NEE</th>
            <th>NNA</th>
            <th>NEE</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr>
                <td>Inicial</td>
                <td>mañana</td>
                <td>03 años</td>
                <td>2</td>
                <td>9</td>
                <td>0</td>
                <td></td>
                <td></td>
                <td>9</td>
                <td>3</td>
                <td>acciones</td>
            </tr>
            <tr>
                <td>Inicial</td>
                <td>mañana</td>
                <td>03 años</td>
                <td>2</td>
                <td>9</td>
                <td>0</td>
                <td></td>
                <td></td>
                <td>9</td>
                <td>3</td>
                <td>acciones</td>
            </tr>
            <tr>
                <td>Inicial</td>
                <td>mañana</td>
                <td>03 años</td>
                <td>2</td>
                <td>9</td>
                <td>0</td>
                <td></td>
                <td></td>
                <td>9</td>
                <td>3</td>
                <td>acciones</td>
            </tr>
        </tbody>
    </table>
</div>
