<div class="mt-8 p-16">
  <div>
    <h3 class="mat-body-2">Contamos con:</h3>
    <p class="mb-16">Haz check en lo servicios que tiene tu escuela. Debes marcar mínimo uno</p>
    <div gdColumns="auto auto auto"
          gdColumns.lt-md="auto auto"
          gdColumns.lt-sm="auto">
      <div class="mb-8">
        <mat-checkbox>Auditorio</mat-checkbox>
      </div>
      <div class="mb-8">
        <mat-checkbox>Laboratorio de ciencia y tecnología</mat-checkbox>
      </div>
      <div class="mb-8">
        <mat-checkbox checked="true">Acceso a internet</mat-checkbox>
      </div>
      <div class="mb-8">
        <mat-checkbox checked="true">Biblioteca</mat-checkbox>
      </div>
      <div class="mb-8">
        <mat-checkbox>Sala de cómputo</mat-checkbox>
      </div>
      <div class="mb-8">
        <mat-checkbox>Servicios Básicos</mat-checkbox>
      </div>
      <div class="mb-8">
        <mat-checkbox checked="true">Aula de innovación pedagógica</mat-checkbox>
      </div>
      <div class="mb-8">
        <mat-checkbox>Sala de usos múltiples</mat-checkbox>
      </div>
      <div class="mb-8">
        <mat-checkbox checked="true">SSHH para discapacitados</mat-checkbox>
      </div>
      <div class="mb-8">
        <mat-checkbox checked="true">Espacio para psicomotricidad</mat-checkbox>
      </div>
      <div class="mb-8">
        <mat-checkbox>Sala de música</mat-checkbox>
      </div>
    </div>
  </div>

</div>

<div class="p-16 mt-16">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Nuestros Servicios</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Aulas">
          <ng-template matTabContent>
            <div class="w-100-p mt-16">
              <mat-carousel timings="250ms ease-in"
                            [autoplay]="true"
                            interval="5000"
                            color="accent"
                            maxWidth="auto"
                            proportion="25"
                            slides="5"
                            [loop]="true"
                            [hideArrows]="true"
                            [hideIndicators]="false"
                            [useKeyboard]="true"
                            [useMouseWheel]="false"
                            orientation="ltr">
                <mat-carousel-slide #matCarouselSlide
                                    *ngFor="let slide of slides; let i = index"
                                    [image]="slide.image"
                                    [hideOverlay]="true"></mat-carousel-slide>
              </mat-carousel>

              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? </p>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Laboratorios">
          <ng-template matTabContent>
            <div class="w-100-p mt-16">
              <mat-carousel timings="250ms ease-in"
                            [autoplay]="true"
                            interval="5000"
                            color="accent"
                            maxWidth="auto"
                            proportion="25"
                            slides="5"
                            [loop]="true"
                            [hideArrows]="true"
                            [hideIndicators]="false"
                            [useKeyboard]="true"
                            [useMouseWheel]="false"
                            orientation="ltr">
                <mat-carousel-slide #matCarouselSlide
                                    *ngFor="let slide of slides; let i = index"
                                    [image]="slide.image"
                                    [hideOverlay]="true"></mat-carousel-slide>
              </mat-carousel>

              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? </p>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Auditorium">
          <ng-template matTabContent>
            <div class="w-100-p mt-16">
              <mat-carousel timings="250ms ease-in"
                            [autoplay]="true"
                            interval="5000"
                            color="accent"
                            maxWidth="auto"
                            proportion="25"
                            slides="5"
                            [loop]="true"
                            [hideArrows]="true"
                            [hideIndicators]="false"
                            [useKeyboard]="true"
                            [useMouseWheel]="false"
                            orientation="ltr">
                <mat-carousel-slide #matCarouselSlide
                                    *ngFor="let slide of slides; let i = index"
                                    [image]="slide.image"
                                    [hideOverlay]="true"></mat-carousel-slide>
              </mat-carousel>

              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? </p>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Biblioteca">
          <ng-template matTabContent>
            <div class="w-100-p mt-16">
              <mat-carousel timings="250ms ease-in"
                            [autoplay]="true"
                            interval="5000"
                            color="accent"
                            maxWidth="auto"
                            proportion="25"
                            slides="5"
                            [loop]="true"
                            [hideArrows]="true"
                            [hideIndicators]="false"
                            [useKeyboard]="true"
                            [useMouseWheel]="false"
                            orientation="ltr">
                <mat-carousel-slide #matCarouselSlide
                                    *ngFor="let slide of slides; let i = index"
                                    [image]="slide.image"
                                    [hideOverlay]="true"></mat-carousel-slide>
              </mat-carousel>

              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? </p>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Instalaciones Deportivas">
          <ng-template matTabContent>
            <div class="w-100-p mt-16">
              <mat-carousel timings="250ms ease-in"
                            [autoplay]="true"
                            interval="5000"
                            color="accent"
                            maxWidth="auto"
                            proportion="25"
                            slides="5"
                            [loop]="true"
                            [hideArrows]="true"
                            [hideIndicators]="false"
                            [useKeyboard]="true"
                            [useMouseWheel]="false"
                            orientation="ltr">
                <mat-carousel-slide #matCarouselSlide
                                    *ngFor="let slide of slides; let i = index"
                                    [image]="slide.image"
                                    [hideOverlay]="true"></mat-carousel-slide>
              </mat-carousel>

              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? </p>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
