<div class="mt-4 p-8 bg-gray-200">
  <div>
    <h3 class="mat-body-2">Contamos con:</h3>
    <p class="mb-32">Haz check en lo servicios que tiene tu escuela. Debes marcar mínimo uno</p>
    <div class="flex-checkbox-zone">
      <div class="mb-8">
        <mat-checkbox>Auditorio</mat-checkbox>
      </div>
      <div class="mb-8">
        <mat-checkbox>Laboratorio de ciencia y tecnología</mat-checkbox>
      </div>
      <div class="mb-8">
        <mat-checkbox>Acceso a internet</mat-checkbox>
      </div>
      <div class="mb-8">
        <mat-checkbox>Biblioteca</mat-checkbox>
      </div>
      <div class="mb-8">
        <mat-checkbox>Sala de cómputo</mat-checkbox>
      </div>
      <div class="mb-8">
        <mat-checkbox>Servicios Básicos</mat-checkbox>
      </div>
      <div class="mb-8">
        <mat-checkbox>Aula de innovación pedagógica</mat-checkbox>
      </div>
      <div class="mb-8">
        <mat-checkbox>Sala de usos múltiples</mat-checkbox>
      </div>
      <div class="mb-8">
        <mat-checkbox>SSHH para discapacitados</mat-checkbox>
      </div>
      <div class="mb-8">
        <mat-checkbox>Espacio para psicomotricidad</mat-checkbox>
      </div>
      <div class="mb-8">
        <mat-checkbox>Sala de música</mat-checkbox>
      </div>
    </div>
  </div>
  <div>
    <h3 class="mt-16 mb-12">Instalaciones:</h3>

    <mat-tab-group dynamicHeight color="accent" backgroundColor="accent">
      <mat-tab label="Aulas">
        <div class="m-16 p-16">
          <form fxLayout="column"
                fxLayoutAlign="between"
                fxFlex="1 0 auto"
                name="infrastructureData"
                [formGroup]="infrastructureData">
            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center" fxFlex="1 0 auto">
              <mat-form-field appearance="outline">
                <mat-label>Describa el espacio</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          cdkAutosizeMinRows="3" 
                          formControlName="aulasDesc"></textarea>
                <mat-error *ngIf="infrastructureData.controls['aulasDesc'].hasError('maxlength')">Máximo 250 caracteres incluyendo espacios.</mat-error>
                <mat-error *ngIf="infrastructureData.controls['aulasDesc'].hasError('required')">Campo requerido.</mat-error>
              </mat-form-field>

              <div class="dropzone" appDnd (fileDropped)="onFileDropped($event)">
                <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)">
                <mat-icon class="s-32">cloud_upload</mat-icon>
                <h4>Adjuntar Fotos</h4>
                <h6>Máximo 5 fotos de 500kB cada una</h6>
                <h4>ó</h4>
                <label class="accent" for="fileDropRef">Buscar foto</label>
              </div>

              <div class="flex-thumbnails">
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </mat-tab>
      <mat-tab label="Laboratorios">
        <div class="m-16 p-16">
          <form fxLayout="column"
                fxLayoutAlign="between"
                fxFlex="1 0 auto"
                name="infrastructureData"
                [formGroup]="infrastructureData">
            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center" fxFlex="1 0 auto">
              <mat-form-field appearance="outline">
                <mat-label>Describa el espacio</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          cdkAutosizeMinRows="3" 
                          formControlName="laboratoriosDesc"></textarea>
                <mat-error *ngIf="infrastructureData.controls['laboratoriosDesc'].hasError('maxlength')">Máximo 250 caracteres incluyendo espacios.</mat-error>
                <mat-error *ngIf="infrastructureData.controls['laboratoriosDesc'].hasError('required')">Campo requerido.</mat-error>
              </mat-form-field>

              <div class="dropzone" appDnd (fileDropped)="onFileDropped($event)">
                <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)">
                <mat-icon class="s-32">cloud_upload</mat-icon>
                <h4>Adjuntar Fotos</h4>
                <h6>Máximo 5 fotos de 500kB cada una</h6>
                <h4>ó</h4>
                <label class="accent" for="fileDropRef">Buscar foto</label>
              </div>

              <div class="flex-thumbnails">
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </mat-tab>
      <mat-tab label="Auditorio">
        <div class="m-16 p-16">
          <form fxLayout="column"
                fxLayoutAlign="between"
                fxFlex="1 0 auto"
                name="infrastructureData"
                [formGroup]="infrastructureData">
            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center" fxFlex="1 0 auto">
              <mat-form-field appearance="outline">
                <mat-label>Describa el espacio</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          cdkAutosizeMinRows="3" 
                          formControlName="auditoriosDesc"></textarea>
                <mat-error *ngIf="infrastructureData.controls['auditoriosDesc'].hasError('maxlength')">Máximo 250 caracteres incluyendo espacios.</mat-error>
                <mat-error *ngIf="infrastructureData.controls['auditoriosDesc'].hasError('required')">Campo requerido.</mat-error>
              </mat-form-field>

              <div class="dropzone" appDnd (fileDropped)="onFileDropped($event)">
                <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)">
                <mat-icon class="s-32">cloud_upload</mat-icon>
                <h4>Adjuntar Fotos</h4>
                <h6>Máximo 5 fotos de 500kB cada una</h6>
                <h4>ó</h4>
                <label class="accent" for="fileDropRef">Buscar foto</label>
              </div>

              <div class="flex-thumbnails">
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </mat-tab>
      <mat-tab label="Biblioteca">
        <div class="m-16 p-16">
          <form fxLayout="column"
                fxLayoutAlign="between"
                fxFlex="1 0 auto"
                name="infrastructureData"
                [formGroup]="infrastructureData">
            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center" fxFlex="1 0 auto">
              <mat-form-field appearance="outline">
                <mat-label>Describa el espacio</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          cdkAutosizeMinRows="3" 
                          formControlName="bibliotecaDesc"></textarea>
                <mat-error *ngIf="infrastructureData.controls['bibliotecaDesc'].hasError('maxlength')">Máximo 250 caracteres incluyendo espacios.</mat-error>
                <mat-error *ngIf="infrastructureData.controls['bibliotecaDesc'].hasError('required')">Campo requerido.</mat-error>
              </mat-form-field>

              <div class="dropzone" appDnd (fileDropped)="onFileDropped($event)">
                <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)">
                <mat-icon class="s-32">cloud_upload</mat-icon>
                <h4>Adjuntar Fotos</h4>
                <h6>Máximo 5 fotos de 500kB cada una</h6>
                <h4>ó</h4>
                <label class="accent" for="fileDropRef">Buscar foto</label>
              </div>

              <div class="flex-thumbnails">
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </mat-tab>
      <mat-tab label="Instalaciones Deportivas">
        <div class="m-16 p-16">
          <form fxLayout="column"
                fxLayoutAlign="between"
                fxFlex="1 0 auto"
                name="infrastructureData"
                [formGroup]="infrastructureData">
            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center" fxFlex="1 0 auto">
              <mat-form-field appearance="outline">
                <mat-label>Describa el espacio</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          cdkAutosizeMinRows="3" 
                          formControlName="instalacionesDeportivasDesc"></textarea>
                <mat-error *ngIf="infrastructureData.controls['instalacionesDeportivasDesc'].hasError('maxlength')">Máximo 250 caracteres incluyendo espacios.</mat-error>
                <mat-error *ngIf="infrastructureData.controls['instalacionesDeportivasDesc'].hasError('required')">Campo requerido.</mat-error>
              </mat-form-field>

              <div class="dropzone" appDnd (fileDropped)="onFileDropped($event)">
                <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)">
                <mat-icon class="s-32">cloud_upload</mat-icon>
                <h4>Adjuntar Fotos</h4>
                <h6>Máximo 5 fotos de 500kB cada una</h6>
                <h4>ó</h4>
                <label class="accent" for="fileDropRef">Buscar foto</label>
              </div>

              <div class="flex-thumbnails">
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
                <div class="thumbnail mat-elevation-z2">
                  <img src="assets/images/cards/card1.jpg">
                  <div class="delete-zone">
                    <mat-icon matTooltip="Eliminar" class="secondary-text s-18">delete</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>