<div class="page-layout simple fullwidth">

  <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-18">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Registro de Información</span>
      </div>
      <div class="h1 mt-16">Información</div>
    </div>
  </div>

  <div class="content p-24">
    <div class="horizontal-stepper-wrapper">
      <mat-horizontal-stepper [linear]="true"
                              labelPosition="bottom"
                              class="mat-elevation-z4">
    
        <mat-step label="Datos Generales y Contacto" [stepControl]="generalDataForm" errorMessage="Campos incompletos">

          <app-general-data (onGeneralDataChange)="bindForm($event, 1)"></app-general-data>

          <div fxLayout="row" fxLayoutAlign="center center">
            <button class="mr-8" mat-raised-button type="button" color="accent">
              Guardar
            </button>
            <button mat-raised-button matStepperNext type="button" color="accent">
              Siguiente
            </button>
          </div>

        </mat-step>

        <mat-step label="Identidad de la IE" [stepControl]="identityDataForm" errorMessage="Campos incompletos">
    
          <app-identity (onIdentityDataChange)="bindForm($event, 2)"></app-identity>
  
          <div fxLayout="row" fxLayoutAlign="center center">
            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
              Atrás
            </button>
            <button class="mr-8" mat-raised-button type="button" color="accent">
              Guardar
            </button>
            <button mat-raised-button matStepperNext type="button" color="accent">
              Siguiente
            </button>
          </div>
    
        </mat-step>

        <mat-step label="Servicios Educativos" [stepControl]="servicesDataForm" errorMessage="Campos incompletos">
    
          <app-services (onServicesDataChange)="bindForm($event, 3)"></app-services>
  
          <div fxLayout="row" fxLayoutAlign="center center">
            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
              Atrás
            </button>
            <button (click)="saveForm(servicesDataForm)" class="mr-8" mat-raised-button type="button" color="accent">
              Guardar
            </button>
            <button mat-raised-button matStepperNext type="button" color="accent">
              Siguiente
            </button>
          </div>
    
        </mat-step>

        <mat-step label="Infraestructura" [stepControl]="infrastructureDataForm" errorMessage="Campos incompletos">
    
          <app-infrastructure (onInfrastructureDataChange)="bindForm($event, 4)"></app-infrastructure>

          <div fxLayout="row" fxLayoutAlign="center center">
            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
              Atrás
            </button>
            <button class="mr-8" mat-raised-button type="button" color="accent">
              Guardar
            </button>
            <button mat-raised-button matStepperNext type="button" color="accent">
              Siguiente
            </button>
          </div>
    
        </mat-step>

        <mat-step label="APAFA" [stepControl]="apafaDataForm" errorMessage="Campos incompletos">
    
          <app-apafa  (onApafaDataChange)="bindForm($event, 5)"></app-apafa>

          <div fxLayout="row" fxLayoutAlign="center center">
            <button class="mr-8" mat-raised-button type="button" color="accent">
              Guardar
            </button>
            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
              Atrás
            </button>
          </div>
    
        </mat-step>

      </mat-horizontal-stepper>
    </div>
  </div>

</div>