<!-- <div class="alert mt-4">
  Debes confirmar o tramitar la modificacion de las vacantes calculadas por el sistema.
</div>
<div class="alert mt-4">
  Usted ha modificado el número de vacantes calculado. Recuerde que debe tramitar una solicitud de cambio ante la
  UGEL.
</div> -->

<div class="mt-8 p-16">
  <form fxLayout="column" 
        fxLayoutAlign="between" 
        fxFlex="1 0 auto"
        name="calculateForm"
        [formGroup]="calculateForm">
    <div fxLayout="row wrap" fxLayoutAlign="start center"  fxFlex="1 0 auto">
      <div fxFlex="25" fxLayout="row wrap" class="pr-16">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>IE Integrada</mat-label>
          <input matInput formControlName="ieIntegrada">
        </mat-form-field>
      </div>
      <div fxFlex="25" fxLayout="row wrap" class="pr-16">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>IE Integrada</mat-label>
          <input matInput formControlName="ieIntegrada">
        </mat-form-field>
      </div>
      <div fxFlex="25" fxLayout="row wrap" class="pr-16">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>IE Integrada</mat-label>
          <input matInput formControlName="ieIntegrada">
        </mat-form-field>
      </div>
      <div fxFlex="25" fxLayout="row wrap" class="pr-16">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>IE Integrada</mat-label>
          <input matInput formControlName="ieIntegrada">
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<!-- <app-modal id="edit-vacancies-calc">
  <div class="flex flex-row justify-between items-center px-4 py-2">
    <p>Editar el cálculo de vacantes</p>
    <span (click)="closeModal('edit-vacancies-calc')" class="close-modal-button">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="1rem" y="1rem"
        viewBox="0 0 512 512" xml:space="preserve">
        <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
			L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
			c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
			l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
			L284.286,256.002z" />
      </svg>
    </span>
  </div>
  <div class="p-8 bg-white">
    <div class="p-8 bg-gray-100">
      <div class="grid grid-cols-12 col-gap-4 text-xs">
        <label class="col-span-6 grid grid-cols-6 mb-4" for="codigo-modular">
          <span class="col-span-2">Código modular:</span>
          <input disabled value="4587125" class="col-span-4" type="text" name="codigo-modular">
        </label>
        <label class="col-span-6 grid grid-cols-6 mb-4" for="nivel">
          <span class="col-span-2">Nivel:</span>
          <input disabled value="Inicial" class="col-span-4" type="text" name="nivel">
        </label>
        <label class="col-span-6 grid grid-cols-6 mb-4" for="caracteristica">
          <span class="col-span-2">Característica:</span>
          <input disabled value="Polidocente completo" class="col-span-4" type="text" name="caracteristica">
        </label>
        <label class="col-span-6 grid grid-cols-6 mb-4" for="turno">
          <span class="col-span-2">Turno:</span>
          <input disabled value="Mañana" class="col-span-4" type="text" name="turno">
        </label>
        <label class="col-span-6 grid grid grid-cols-6 mb-4" for="grupo-edad">
          <span class="col-span-2">Grupo / Edad:</span>
          <input disabled value="05 años" class="col-span-4" type="text" name="grupo-edad">
        </label>
        <label class="col-span-6 grid grid grid-cols-6 mb-4" for="metas-atencion ">
          <span class="col-span-2">Meta de atención por aula:</span>
          <input disabled value="25" class="col-span-4" type="text" name="metas-atencion  ">
        </label>
        <label class="col-span-6 grid grid grid-cols-6 mb-4" for="numero-secciones">
          <span class="col-span-2">Número de secciones:</span>
          <input disabled value="2" class="col-span-4" type="text" name="numero-secciones">
        </label>
      </div>
    </div>

    <div class="p-16 bg-gray-100 mt-4">
      <div class="grid grid-cols-12 col-gap-4 text-xs">
        <div *ngFor="let item of vacanciesData" class="col-span-12 grid grid-cols-12 mb-4">
          <label class="col-span-12 grid grid-cols-12">
            <span (click)="item.collapsed = !item.collapsed"
              class="col-span-6 cursor-pointer select-none">{{ item.title }}</span>
            <input [disabled]="false" [value]="item.total" class="col-span-3" type="text">
          </label>
          <div *ngIf="item.collapsed" class="col-span-12 grid grid-cols-12">
            <label *ngFor="let detail of item.detail" class="col-span-12 grid grid-cols-12 mt-2">
              <span class="col-span-6 ml-8 select-none">{{ detail.title }}</span>
              <input [disabled]="false" [value]="detail.quantity" class="col-span-2" type="text">
            </label>
          </div>
        </div>

        <hr class="col-span-12 border-black mb-4 border-2">

        <div *ngFor="let item of vacanciesTotal" class="col-span-12 grid grid-cols-12">
          <label class="col-span-12 grid grid-cols-12">
            <span (click)="item.collapsed = !item.collapsed" class="col-span-6 cursor-pointer">{{ item.title }}</span>
            <input [disabled]="false" [value]="item.total" class="col-span-3" type="text">
          </label>
          <div *ngIf="item.collapsed" class="col-span-12 grid grid-cols-12">
            <label *ngFor="let detail of item.detail" class="col-span-12 grid grid-cols-12 mt-2">
              <span class="col-span-6 ml-8">{{ detail.title }}</span>
              <input [disabled]="false" [value]="detail.quantity" class="col-span-2" type="text">
            </label>
          </div>
        </div>

        <div class="col-span-12 flex flex-row justify-center mt-12">
          <button class="btn w-40">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</app-modal>

<app-modal id="justification">
  <div class="flex flex-row justify-between items-center px-4 py-2">
    <p>IE 344 Nilda Rojas de Chambilla</p>
    <span (click)="closeModal('justification')" class="close-modal-button">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="1rem" y="1rem"
        viewBox="0 0 512 512" xml:space="preserve">
        <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
			L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
			c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
			l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
			L284.286,256.002z" />
      </svg>
    </span>
  </div>
  <div class="p-8 bg-white">
    <div class="p-8 bg-gray-100">
      <div class="grid grid-cols-12 col-gap-4 text-xs">
        <label class="col-span-6 grid grid-cols-6 mb-4" for="director">
          <span class="col-span-2">Director(a):</span>
          <input disabled value="4587125" class="col-span-4" type="text" name="director">
        </label>
        <label class="col-span-6 grid grid-cols-6 mb-4" for="correo">
          <span class="col-span-2">Correo:</span>
          <input disabled value="Inicial" class="col-span-4" type="text" name="correo">
        </label>
        <label class="col-span-6 grid grid-cols-6 mb-4" for="telefono">
          <span class="col-span-2">Teléfono:</span>
          <input disabled value="Polidocente completo" class="col-span-4" type="text" name="telefono">
        </label>
        <label class="col-span-6 grid grid-cols-6 mb-4" for="celular">
          <span class="col-span-2">Celular:</span>
          <input disabled value="Mañana" class="col-span-4" type="text" name="celular">
        </label>
        <label class="col-span-6 grid grid grid-cols-6 mb-4" for="ubicacion">
          <span class="col-span-2">Ubicación:</span>
          <input disabled value="05 años" class="col-span-4" type="text" name="ubicacion">
        </label>
        <label class="col-span-6 grid grid grid-cols-6 mb-4" for="direccion ">
          <span class="col-span-2">Dirección:</span>
          <input disabled value="25" class="col-span-4" type="text" name="direccion  ">
        </label>
        <label class="col-span-6 grid grid grid-cols-6 mb-4">
          <span class="col-span-2">I.E. Integrada:</span>
          <p class="col-span-4">Sí</p>
        </label>
      </div>
    </div>

    <div class="p-16 bg-gray-100 mt-4">
      <div class="grid grid-cols-12 col-gap-4 text-xs">
        <p class="col-span-12 text-gray-500">* Escriba la justificacion de su solicitud - máximo 400 caracteres
          (incluye espacios)</p>

        <div class="grid grid-cols-12 col-span-12 mt-4">
          <label class="col-span-12" for="justificacion">Justificación de la solicitud</label>
          <textarea class="col-span-12" name="justificacion" id="justificacion" cols="30" rows="10"
            maxlength="400"></textarea>
        </div>

        <div class="col-span-12 grid grid-cols-12 mt-4">
          <p class="col-span-4">Adjuntar documentos:</p>
          <p class="col-span-8">Adjuntar archivos de 1MB como máximo</p>
          <div class="col-start-5 col-span-8">
            <div class="mt-2">
              <span>Documento 01.pdf</span>
            </div>
            <div class="mt-2">
              <span>Documento 01.pdf</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-modal> -->