<div fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutGap="32px"
    fxLayoutAlign="flex-start"
    class="mt-32">
  <mat-card fxFlex="0 1 calc(50% - 32px)"
            fxFlex.lt-md="100%">
    <mat-card-header>
      <mat-card-title>Datos Generales y de Contacto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form fxLayout="column" fxLayoutAlign="between" fxFlex="1 0 auto" name="generalDataForm" [formGroup]="generalDataForm">
        <mat-form-field *ngFor="let field of generalDataFields" appearance="outline" fxFlex>
          <mat-label>{{field.label}}</mat-label>
          <input readonly matInput [formControlName]="field.controlName">
          <mat-error>Campo requerido.</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="0 1 calc(50%)"
            fxFlex.lt-md="100%">
    <mat-card-header>
      <mat-card-title>Ubicación</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>

<div fxLayout class="mt-32">
  <mat-card fxFlex="100%">
    <mat-card-header>
      <mat-card-title>Identidad de la Instituión Educativa</mat-card-title>
    </mat-card-header>

    <mat-card-content fxLayout="column">
      <div fxLayout="row"
          fxLayoutAlign="center center"
          class="my-16">
        <button mat-raised-button type="button" color="accent">
          <mat-icon>cloud_download</mat-icon>
          Plan Institucional de la IE
        </button>
        <button mat-raised-button type="button" color="accent" class="ml-16">
          <mat-icon>cloud_download</mat-icon>
          Reglamento Interno
        </button>
      </div>

      <form fxLayout="column"
            fxLayoutAlign="between"
            fxFlex="1 0 auto"
            name="identityForm"
            [formGroup]="identityForm">
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center" fxFlex="1 0 auto">
          <mat-form-field *ngFor="let field of identityFields" appearance="outline">
            <mat-label>{{field.label}}</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="3" 
                      readonly
                      [formControlName]="field.controlName"></textarea>
          </mat-form-field>
        </div>

      </form>
      <div fxLayout="row"
          fxLayoutAlign="center center"
          class="my-16">
        <button mat-raised-button type="button" color="accent">
          <mat-icon>cloud_download</mat-icon>
          Plan Institucional de la IE
        </button>
        <button mat-raised-button type="button" color="accent" class="ml-16">
          <mat-icon>cloud_download</mat-icon>
          Reglamento Interno
        </button>
      </div>
    </mat-card-content>
  </mat-card>

</div>