// :host {
//     display: flex;
//     flex: 0 0 auto;
//     z-index: 3;

//     .mat-toolbar {
//         background: inherit;
//         color: inherit;
//         box-shadow: 0px -1px 1px -1px rgba(0, 0, 0, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.14), 0px -1px 3px 0px rgba(0, 0, 0, 0.12);
//     }

//     &.above {
//         position: relative;
//         z-index: 99;
//     }
// }

.footer {
    background-color: #383838;
    padding: 1.2rem 0;

    .wrapper {
        margin: 0 auto;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        color: white;
        gap: 1rem;
    }

    small {
        display: block;
    }

    .footer-item {
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: white 1px solid;

        svg {
            fill: white;
            height: 50px;
        }
    }
    // flex items-center justify-center border-l border-white
}