<div class="mt-8 p-16">
  <div>
    <h3 class="mat-body-2">Niveles y estudiantes {{ lastYear }}:</h3>
    <p class="mb-32">Información estadistica del proceso del año anterior. Tomese solo como referencia para el presente proceso de matricula escolar.</p>
    <div>
      <h3 class="mat-body-2">Turno Mañana</h3>
      <table mat-table [dataSource]="dataSource.morningData" class="mat-elevation-z2 w-100-p">
        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef class="accent"> Nivel </th>
          <td mat-cell *matCellDef="let element"> {{element.level}} </td>
        </ng-container>

        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef class="accent"> Grado / Edad </th>
          <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>
      
        <ng-container matColumnDef="students">
          <th mat-header-cell *matHeaderCellDef class="accent"> Total de estudiantes </th>
          <td mat-cell *matCellDef="let element"> {{element.students}} </td>
        </ng-container>
      
        <ng-container matColumnDef="sections">
          <th mat-header-cell *matHeaderCellDef class="accent"> Número de secciones </th>
          <td mat-cell *matCellDef="let element"> {{element.sections}} </td>
        </ng-container>
      
        <ng-container matColumnDef="average">
          <th mat-header-cell *matHeaderCellDef class="accent w-128"> Promedio de estudiantes por sección </th>
          <td mat-cell *matCellDef="let element"> {{element.average}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <h3 class="mat-body-2">Turno Tarde</h3>
      <table mat-table [dataSource]="dataSource.afternoonData" class="mat-elevation-z2 w-100-p">
        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef class="accent"> Nivel </th>
          <td mat-cell *matCellDef="let element"> {{element.level}} </td>
        </ng-container>

        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef class="accent"> Grado / Edad </th>
          <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>

        <ng-container matColumnDef="students">
          <th mat-header-cell *matHeaderCellDef class="accent"> Total de estudiantes </th>
          <td mat-cell *matCellDef="let element"> {{element.students}} </td>
        </ng-container>

        <ng-container matColumnDef="sections">
          <th mat-header-cell *matHeaderCellDef class="accent"> Número de secciones </th>
          <td mat-cell *matCellDef="let element"> {{element.sections}} </td>
        </ng-container>

        <ng-container matColumnDef="average">
          <th mat-header-cell *matHeaderCellDef class="accent w-128"> Promedio de estudiantes por sección </th>
          <td mat-cell *matCellDef="let element"> {{element.average}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>

<div class="p-16 mt-16">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Nuestros Servicios</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Deportes">
          <ng-template matTabContent>
            <div class="w-100-p mt-16">
              <mat-carousel timings="250ms ease-in"
                            [autoplay]="true"
                            interval="5000"
                            color="accent"
                            maxWidth="auto"
                            proportion="25"
                            slides="5"
                            [loop]="true"
                            [hideArrows]="true"
                            [hideIndicators]="false"
                            [useKeyboard]="true"
                            [useMouseWheel]="false"
                            orientation="ltr">
                <mat-carousel-slide #matCarouselSlide
                                    *ngFor="let slide of slides; let i = index"
                                    [image]="slide.image"
                                    [hideOverlay]="true"></mat-carousel-slide>
              </mat-carousel>

              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? </p>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Idiomas">
          <ng-template matTabContent>
            <div class="w-100-p mt-16">
              <mat-carousel timings="250ms ease-in"
                            [autoplay]="true"
                            interval="5000"
                            color="accent"
                            maxWidth="auto"
                            proportion="25"
                            slides="5"
                            [loop]="true"
                            [hideArrows]="true"
                            [hideIndicators]="false"
                            [useKeyboard]="true"
                            [useMouseWheel]="false"
                            orientation="ltr">
                <mat-carousel-slide #matCarouselSlide
                                    *ngFor="let slide of slides; let i = index"
                                    [image]="slide.image"
                                    [hideOverlay]="true"></mat-carousel-slide>
              </mat-carousel>

              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? </p>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Talleres">
          <ng-template matTabContent>
            <div class="w-100-p mt-16">
              <mat-carousel timings="250ms ease-in"
                            [autoplay]="true"
                            interval="5000"
                            color="accent"
                            maxWidth="auto"
                            proportion="25"
                            slides="5"
                            [loop]="true"
                            [hideArrows]="true"
                            [hideIndicators]="false"
                            [useKeyboard]="true"
                            [useMouseWheel]="false"
                            orientation="ltr">
                <mat-carousel-slide #matCarouselSlide
                                    *ngFor="let slide of slides; let i = index"
                                    [image]="slide.image"
                                    [hideOverlay]="true"></mat-carousel-slide>
              </mat-carousel>

              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? </p>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Diversos">
          <ng-template matTabContent>
            <div class="w-100-p mt-16">
              <mat-carousel timings="250ms ease-in"
                            [autoplay]="true"
                            interval="5000"
                            color="accent"
                            maxWidth="auto"
                            proportion="25"
                            slides="5"
                            [loop]="true"
                            [hideArrows]="true"
                            [hideIndicators]="false"
                            [useKeyboard]="true"
                            [useMouseWheel]="false"
                            orientation="ltr">
                <mat-carousel-slide #matCarouselSlide
                                    *ngFor="let slide of slides; let i = index"
                                    [image]="slide.image"
                                    [hideOverlay]="true"></mat-carousel-slide>
              </mat-carousel>

              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, officia, porro a molestiae soluta, architecto incidunt eaque nisi quasi assumenda provident optio. Velit minima autem a, laborum mollitia nesciunt vero? </p>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
