// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

.dropzone {
  width: 300px;
  // height: 300px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
  margin: auto;
  cursor: pointer;

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  label {
    color: white;
    width: 183px;
    border-radius: 21.5px;
    padding: 8px 16px;
  } 
}

.flex-thumbnails {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  margin-top: 3rem;
  padding: 0 2rem;

  .thumbnail {
    background-color: inherit;
    width: 120px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

    img {
      object-fit: cover;
      width: 120px;
      height: 120px;
      border-radius: 1rem 1rem 0 0;
    }

    .delete-zone {
      padding: 0.4rem;
      display: flex;
      
      mat-icon {
        justify-self: flex-end;
        cursor: pointer;
      }
    }
  }
}

