<div class="page-layout simple fullwidth">

  <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-18">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Registro de Información</span>
      </div>
      <div class="h1 mt-16">Información</div>
    </div>
  </div>

  <div class="content p-24">
    <div class="horizontal-stepper-wrapper">
      <mat-horizontal-stepper [linear]="true"
                              class="mat-elevation-z4">

        <mat-step [stepControl]="calculateForm" 
                  label="Calcula las vacantes">
      
            <app-calculate></app-calculate>
      
            <div fxLayout="row" fxLayoutAlign="center center">
              <button mat-raised-button matStepperNext type="button" color="accent">
                Siguiente
              </button>
            </div>
      
        </mat-step>
      
      </mat-horizontal-stepper>
    </div>
  </div>

</div>