<div class="page-layout simple fullwidth">

  <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-18">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Confirmar Información</span>
      </div>
      <div class="h1 mt-16">Confirma</div>
    </div>
  </div>

  <div class="content p-24">
    <div fxLayout>
      <h3 class="mat-title mr-16">{{ school }}</h3>
      <mat-chip-list *ngIf="preview" selectable="false">
        <mat-chip color="accent" selected="true" disable>VISTA PREVIA</mat-chip>
      </mat-chip-list>
    </div>

    <mat-tab-group>
      <mat-tab label="Nosotros">
        <ng-template matTabContent>
          <app-about-us></app-about-us>
        </ng-template>
      </mat-tab>
      <mat-tab label="Servicio Educativo">
        <ng-template matTabContent>
          <app-services></app-services>
        </ng-template>
      </mat-tab>
      <mat-tab label="Infraestructura">
        <ng-template matTabContent>
          <app-infrastructure></app-infrastructure>
        </ng-template>
      </mat-tab>
      <mat-tab label="Desempeño">
        <ng-template matTabContent>
          The Second Content
        </ng-template>
      </mat-tab>
      <mat-tab label="APAFA">
        <ng-template matTabContent>
          The Second Content
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
